{% extends 'base.html' %} 

{% block content %} 

{% comment %} TODO: reduce this styling {% endcomment %}

<div class="profile-bg">
    <div class="profile-bg-gradient">
        <div class="tab-pane full-task" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
            <div class="tab-content" id="tasksTabContent">
                <div class="tab-pane fade show active" id="morning-tasks-content" role="tabpanel" aria-labelledby="morning-tasks-tab">
                    <div class="row justify-content-center align-items-start">
                        <div class="col-md-8">
                            <h4 class="mt-4 text-center task-title mb-3">Your Routine</h4>
                            {% if message %}
                            <p>Please create a routine first </p>
                            <a class="btn btn-primary w-20" href="{% url 'health-areas' %}">Create Routine</a>
                            {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Time</th>
                                            <th class="text-center">Task</th>
                                            <th class="text-center">Duration (Mins)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in eve_tasks %}
                                        <tr>
                                            <td class="text-center">{{ task.start_time }}</td>
                                            <td>{{ task.task }}</td>
                                            <td class="text-center">{{ task.duration }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="text-center">{{ commitments.bed_time }}</td>
                                            <td>Go to Bed</td>
                                            <td class="text-center">{{ commitments.hours_of_sleep }} (hours)</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">{{ commitments.wake_time }}</td>
                                            <td>Wake up</td>
                                            <td class="text-center">5</td>
                                        </tr>

                                        {% for task in morn_tasks %}
                                        <tr>
                                            <td class="text-center">{{ task.start_time }}</td>
                                            <td>{{ task.task }}</td>
                                            <td class="text-center">{{ task.duration }}</td>
                                        </tr>
                                        {% endfor %}

                                        {% if commitments.get_ready_start %}
                                        <tr>
                                            <td class="text-center">{{ commitments.get_ready_start }}</td>
                                            <td>Get ready for work</td>
                                            <td class="text-center">{{ commitments.get_ready_time }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">{{ commitments.work_time_from }}</td>
                                            <td>Work</td>
                                            <td class="text-center">{{ commitments.work_hours }} (hours)</td>
                                        </tr>
                                        {% endif %}
                                        
                                        <!-- Add more evening tasks as needed -->
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-center mt-4 mb-5">
                                    <a class="btn btn-info mr-3 " id="previousBtn" href="{% url 'create_routine' routine_type='Morning' %}">
                                        Previous
                                    </a>
                                    <a class="btn btn-info" id="nextBtn" href="{% url 'profile_summary' %}">
                                        Next
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}