{% extends 'base.html' %}

{% block content %}
<div class="profile-bg">
  <div class="profile-bg-gradient">
    <div class="container">
      <div class="row justify-content-center align-items-start" style="min-height: 100vh;">
        <div class="col-md-8">
          <h2 class="text-center mb-4">Track tasks</h2>
          <form action="{% url 'edit_track_routine' %}" method="POST">
            {% csrf_token %}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Task Name</th>
                  <th>Evening/Morning</th>
                  <th>Duration</th>
                  <th>Completed</th>
                </tr>
              </thead>
              <tbody>
                {% for task in routine %}
                <tr>
                  <td>{{ task.personal_task__task_id__task }}</td>
                  <td>{{ task.personal_task__task_id__task_type }}</td>
                  <td>{{ task.personal_task__duration }}</td>
                  <td>
                    {% if task.completed == False %}
                    <input type="checkbox" name="Task{{ task.id }}" value="{{ task.id }}">
                    {% else %}
                    <input checked type="checkbox" name="Task{{ task.id }}" value="{{ task.id }}">
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="text-center">
              <button class="btn btn-info" id="nextBtn" type="submit">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}