{% extends "base.html" %}

{% load static %}

{% block content %}

<body>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="https://res.cloudinary.com/dswowyotx/image/upload/v1691389426/self_care_ytmtj7.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="about-border">
            <h1 class="display-4 font-weight-bold">Steady routine. Strong Minds.</h1>
            <p class="lead">
              Welcome to Rise & Reflect, your guide to unlocking the power of daily routines for enhanced
              mental well-being.
            </p>
            <div class="d-flex flex-column align-items-center mt-3">
              <a href="accounts/signup/" class="btn btn-info btn-lg sign-up-btn">Sign up!</a>
              <a href="accounts/login/" class="btn btn-outline-light text-center mt-2">Already signed up?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="https://res.cloudinary.com/dswowyotx/image/upload/v1691389426/self_care_four_wyz5cy.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="about-border">
            <h1 class="display-4 font-weight-bold">Rise. Reflect. Thrive.</h1>
            <p class="lead">
              Our app provides a personalized routine builder that allows you to create customized morning and evening routines to improve your overall mental well-being. 
            </p>
            <div class="d-flex flex-column align-items-center mt-3 sign-up">
              <a href="accounts/signup/" class="btn btn-info btn-lg sign-up-btn">Sign up!</a>
              <a href="accounts/login/" class="btn btn-outline-light text-center mt-2">Already signed up?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="https://res.cloudinary.com/dswowyotx/image/upload/v1691389428/self_care_five_b3xaff.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="about-border">
            <h1 class="display-4 font-weight-bold">Peaceful Nights. Mindful Mornings.</h1>
            <p class="lead">
              By tracking your progress, you can build positive habits and maintain consistency in your daily practices.
            </p>
            <div class="d-flex flex-column align-items-center mt-3 sign-up">
              <a href="accounts/signup/" class="btn btn-info btn-lg sign-up-btn">Sign up!</a>
              <a href="accounts/login/" class="btn btn-outline-light text-center mt-2">Already signed up?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="https://res.cloudinary.com/dswowyotx/image/upload/v1691389428/self_care_six_h5ynzc.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="about-border">
            <h1 class="display-4 font-weight-bold">Empower. Renew. Succeed.</h1>
            <p class="lead">
              These habits will empower you to start your day with a clear mind and wind down for restful sleep at night.
            </p>
            <div class="d-flex flex-column align-items-center mt-3 sign-up">
              <a href="accounts/signup/" class="btn btn-info btn-lg sign-up-btn">Sign up!</a>
              <a href="accounts/login/" class="btn btn-outline-light text-center mt-2">Already signed up?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Add this JavaScript code to enable the carousel -->
  <script>
    $(document).ready(function () {
      // Initialize the carousel
      $('#carouselExampleIndicators').carousel();
    });
  </script>

</body>

{% endblock %}