{% extends "base.html" %}

{% block content %}

<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container-fluid hompage-container">
      <div class="d-flex flex-column align-items-center justify-content-center inner-cover">
        <h1 class="text-center cover-heading">
          Steady Routines.
          <br> 
          Strong Minds.
          <br>
        </h1>
        <!-- Commented this out for now
          <div class="border border-dark rounded video-container d-flex align-items-center justify-content-center">
          <p class="text-center">VIDEO HERE</p>
        </div>-->
        <p class="lead">
          Welcome to Rise & Reflect, your guide to unlocking the power of daily routines for enhanced
          mental well-being.
        </p>
        <div class="d-flex flex-column align-items-center mt-3">
          <a href="accounts/signup/" class="btn btn-info sign-up-btn">Sign up!</a>
          <a href="accounts/login/" class="text-center mt-2">Already signed up?</p>
        </div>
      </div>
    </div>
  </div>

</body>


{% endblock %}