{% extends "base.html" %}

{% block content %}

<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="container-fluid hompage-container">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-center">Welcome</h1>
            <div class="border border-dark rounded video-container d-flex align-items-center justify-content-center">
              <p class="text-center">VIDEO HERE</p>
            </div>
            <div class="d-flex flex-column align-items-center mt-3">
              <a href="accounts/signup/" class="btn btn-primary">Sign up!</a>
              <p class="text-center mt-2">Already signed up.</p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
    