{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="profile-bg">
    <div class ="profile-bg-gradient">
        <div class="container mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h4 class="card-title">Account Summary</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rounded-circle bg-info d-flex justify-content-center align-items-center ml-5" style="width: 200px; height: 200px;">
                                <img src="" alt="Profile Image" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">{{user_profile.name}}</h5>
                            <p class="card-text">Username: {{request.user}}</p>
                            <p class="card-text">Email: {{request.user.email}}</p>
                            <p class="card-text">Phone: {{user_profile.phone}}</p>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h4>Progress</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column align-items-center">
                            <a href="{% url 'create_routine' routine_type='Morning' %}" class="text-decoration-none d-flex flex-column align-items-center custom-link">
                                <div class="circular-progress" id="morn">
                                    <span class="progress-value" id="morn-progress">0%</span>
                                </div>
                                <span class="progress-title mt-2 text-center">Morning Tasks</span>
                            </a>
                        </div>
                        
                        <div class="col-md-4 d-flex flex-column align-items-center">
                            <a href="{% url 'create_routine' routine_type='Evening' evening='True' %}" class="text-decoration-none d-flex flex-column align-items-center custom-link">
                                <div class="circular-progress" id="eve">
                                    <span class="progress-value" id="eve-progress">0%</span>
                                </div>
                                <span class="progress-title mt-2 text-center">Evening Tasks</span>
                            </a>
                        </div>
                        
                        <div class="col-md-4 d-flex flex-column align-items-center">
                            <a href="{% url 'track_routine' %}" class="text-decoration-none d-flex flex-column align-items-center custom-link">
                                <div class="circular-progress" id="all">
                                    <span class="progress-value" id="all-progress">0%</span>
                                </div>
                                <span class="progress-title mt-2 text-center">All Tasks Completed</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container mt-4">
            <div class="card border-0 shadow">
                <div class="rounded border p-3"> 
                    <h4>Security</h4>
                    <hr>
                    <p>If you'd like to reset your password, you can do so here</p>
                    <a href="{% url 'account_reset_password' %}" class="btn btn-info">Reset Password</a>
                    <h4 class="mt-3">Account</h4> 
                    <hr>
                    <p>If you'd like to delete your account, you can do so here</p>
                    <form method="post" action="{% url 'delete_account' %}">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Delete Account</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>    

<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        const circleIds = ["morn", "eve", "all"]
        const valueIds = ["morn-progress", "eve-progress", "all-progress"]
        const progressEndValues = {{values}}

    circleIds.forEach((circleId, index) => {
        if (progressEndValues[index] > 0){
        let circleProgress = document.getElementById(circleId);
        let progressValue = document.getElementById(valueIds[index]);

        let speed = 30;
        let progressStartValueGoal = 0;
        let progressEndValueGoal = progressEndValues[index];
        let progressGoal = setInterval(() => {
            progressStartValueGoal++;
    
            progressValue.textContent = `${progressStartValueGoal}%`;
            circleProgress.style.background = `conic-gradient(#99b4df ${progressStartValueGoal * 3.6}deg, #ededed 0deg)`;
    
          if (progressStartValueGoal === progressEndValueGoal) {
            clearInterval(progressGoal);
          }
        }, speed);
    }
    });

      });
</script>
{% endblock %}