{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% comment %}
<header>
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Rise and Reflect</a>
    </nav>
</header>
<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="container-fluid">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <h1 class="text-center">Welcome</h1>
          <div class="border border-dark rounded video-container d-flex align-items-center justify-content-center">
            <p class="text-center">VIDEO HERE</p>
          </div>
          <div class="d-flex flex-column align-items-center mt-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                  Sign-Up!
              </button>
                  <a href="#" data-toggle="modal" data-target="#signInModal">Already signed up?</a>
          </div>
        </div>
      </div>
    </div>
    <!--Modal for sign up-->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Enter a password">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block">Sign Up</button>
              </div>
            </form>
            <div class="text-center">Or sign up with:</div>
            <div class="d-flex justify-content-center mt-3">
              <button type="button" class="btn btn-outline-primary mr-2">Google</button>
              <button type="button" class="btn btn-outline-primary">Facebook</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign-In Modal -->
<div class="modal fade" id="signInModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Enter a password">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block">Sign in</button>
              </div>
            </form>
            <div class="text-center">Or sign in with:</div>
            <div class="d-flex justify-content-center mt-3">
              <button type="button" class="btn btn-outline-primary mr-2">Google</button>
              <button type="button" class="btn btn-outline-primary">Facebook</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>

{% endcomment %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> 

{% endblock %}
