{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="image-container">
    <div class="gradient-overlay"></div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6 offset-md-6">
          <h1 class="text-center mb-2">{% trans "Welcome Back" %}</h1>

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            <div class="form-group">
              <label for="id_login">Email address</label>
              <input type="text" name="login" class="form-control" placeholder="Enter your Email" autocomplete="username" maxlength="150" required="" id="id_login">
            </div>

            <div class="form-group">
              <label for="id_password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter your password" autocomplete="current-password" required="" id="id_password">
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block btn-info" type="submit">{% trans "Sign In" %}</button>
            </div>

            <h2 class="text-center pt-4">Or sign in with the following:</h2>
            <div class="row justify-content-center pt-3">
              <button type="" class="btn btn-google btn-info">
                <i class="fab fa-google"></i>
              </button>
              <button type="" class="btn btn-facebook btn-info">
                <i class="fab fa-facebook-f"></i>
              </button>
            </div>

            <div class="text-center mt-3">
              <a class="mx-auto" href="{{ signup_url }}">Want to sign up?</a>
            </div>

          </form> 
        </div>
    </div>
  </div>

{% endblock %}
