{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="w-75 m-auto">
  <h1 class="text-center">{% trans "Sign In" %}</h1>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_login">Email address</label>
      <input type="text" name="login" class="form-control" placeholder="Enter your Email" autocomplete="username" maxlength="150" required="" id="id_login">
    </div>
    <div class="form-group">
      <label for="id_password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter a password" autocomplete="current-password" required="" id="id_password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
    </div>
    <div class="text-center">
      <a class="mx-auto" href="{{ signup_url }}">Want to sign up?</a>
    </div>
    
  </form> 
</div>

{% endblock %}
