{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="image-container-pass-reset">
    <div class="gradient-overlay"></div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6 offset-md-6">

            <h1>{% trans "Password Reset" %}</h1>
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}If your email is on our system, we will send you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

            <p>{% blocktrans %}You will automaticaly be taken to the home page shortly.{% endblocktrans %}</p>
        </div>        
    </div>
</div>    

<script>
    const timerDuration = 5000;
  
    function redirectToHome() {
      window.location.href = "{% url 'home' %}";
    }

    setTimeout(redirectToHome, timerDuration);
  </script>
{% endblock %}
