{{add_tasks}}

<h2>Order tasks for {{user.username}}</h2>
<br>

    <form class="sortable" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target='#film-list'>
      {% csrf_token %}
      <div class="htmx-indicator">Updating...</div>
{% for task in tasks %}

<div>
  <input type='hidden' name='task_order' value='{{task.1}}'/>
  {% comment %} <span >{{task}}</span> {% endcomment %}
   <tr>
      <p>{{task.3}}</p>
      <p>{{task.2}}</p>
      <p>{{task.0}}</p>
      <p>{{task.1}}</p>
    </tr> 
  </div>

    {% endfor %}
  </form>

  

<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})

  htmx.onLoad(function(content) {
    var sortables = document.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    }
})
</script>