{{add_tasks}}

<h2>Track task for {{user.username}}</h2>
<br>

    <form class="sortable" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target='#film-list'>
      {% csrf_token %}
      <div class="htmx-indicator">Updating...</div>
{% for task in tasks %}

<div>
  <input type='hidden' name='task_order' value='{{task.1}}'/>
  <span >{{task}}</span>
    {% comment %} <tr>
      <td>{{task.3}}</td>
      <td>{{task.2}}</td>
      <td>{{task.0}}</td>
      <td>{{task.0}}</td>
    </tr> {% endcomment %}
  </div>

    {% endfor %}
  </form>

  

<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})

  htmx.onLoad(function(content) {
    var sortables = document.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    }
})
</script>