{{add_tasks}}

<h2>Order tasks for {{user.username}}</h2>
<br>

    <form class="sortable" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target='#film-list'>
      {% csrf_token %}
      <div class="htmx-indicator">Updating...</div>
{% for task in tasks.Evening %}

<div>
  <input type='hidden' name='task_order' value='{{task.id}}'/>
  {% comment %} <span >{{task}}</span> {% endcomment %}
   <tr>
      <p>{{task.name}}</p>
      <p>{{task.duration}}</p>
    </tr> 
  </div>

    {% endfor %}

    {% for task in tasks.Morning %}

<div>
  <input type='hidden' name='task_order' value='{{task.id}}'/>
  {% comment %} <span >{{task}}</span> {% endcomment %}
   <tr>
      <p>{{task.name}}</p>
      <p>{{task.duration}}</p>
    </tr> 
  </div>

    {% endfor %}
  </form>

  <a class="btn btn-primary" id="previousBtn" href="{% url 'display_routine' %}">
    View Routine
</a>

<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})

  htmx.onLoad(function(content) {
    var sortables = document.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    }
})
</script>