{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} TODO: Add these {% endcomment %}
    <meta name="description" content="">
    <meta name="keywords" content="">


    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    {% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{%static 'favicon/site.webmanifest' %}">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Rise & Reflect {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <header>
        <nav class="navbar bg-navbar" id="navbar">
            <a class="nav-logo " href="#">
              Rise and Reflect
            </a>
            <div class="ml-auto">
                <i class="fas fa-user"></i> 
              <a href="{% url'account_login' %}" class="login-link">Login</a>
              <a href="{% url'account_signup' %}" class="signup-link">Sign Up</a>
            </div>
          </nav>
    </header>

    {% comment %} {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %} {% endcomment %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="py-3">

        <div class="footer-copyright text-center py-2">© 2020 Copyright:
            <a href="https://github.com/sean-meade/rise-and-reflect" target="_blank">Rise & Reflect <i class="fab fa-github"></i></a>
        </div>
    
        </footer>
        

    </footer>
    
</body>

</html>