{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <!-- Left Column: Image, Username -->
      <div class="col-md-2 fixed-left-column user-column">
        <img src="{% static 'img/default.png' %}" alt="User Image" class="img-fluid mb-2 profile-image">
        <h4>USERNAME :{{ user.username }}</h4>

        <!-- Nav Tabs -->
          <!-- Nav Tabs -->
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="pill" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Account Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="pill" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab3-tab" data-toggle="pill" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Routines</a>
            </li>
            <!-- Add more tabs as needed -->
            </ul>
        </div>

      <!-- Right Column: Tab Content -->
      <div class="col-md-10 right-content">
        <div class="tab-content" id="myTabContent">
          <!-- Tab 1 Content -->
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class = "housing-box">
                    <div class="account-info rounded p-3 mb-4">
                        <h3>Account Information</h3>
                        <div class="username">
                            <p>Username: {{ user.username }}</p>
                        </div>
                        <div class="email">
                            <p>Email: {{ user.email }}</p>
                        </div>
                    </div>
                    <div class="security-info rounded p-3">
                        <h3>Security</h3>
                        <p>If you'd like to reset your password, you can do so here</p>
                        <button class="btn btn-primary">Reset Password</button>
                    </div>
                </div>   
            </div>

    <!-- Tab 2 Content -->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <div class="d-flex flex-column align-items-center goals-container">
            <h3 class="mt-4">Set Your Goals</h3>
            <div class="rounded p-3 mb-4 text-center instructions">
                <h4>Instructions</h4>
                <p>
                    Here, we'd like you to enter 4 goals you'd like to accomplish within the week. These can be a range of things from going for a short walk each day or even just sending someone a message each day.
                </p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-4">
                <div class="border rounded p-3 text-center goal-box">
                    <h4 class="mt-0">Goal 1</h4>
                    <!-- Add content related to Goal 1 -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-4">
                <div class="border rounded p-3 text-center goal-box">
                    <h4 class="mt-0">Goal 2</h4>
                    <!-- Add content related to Goal 2 -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-4 goal-border">
                <div class="border rounded p-3 text-center goal-box">
                    <h4 class="mt-0">Goal 3</h4>
                    <!-- Add content related to Goal 3 -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-4">
                <div class="border rounded p-3 text-center goal-box">
                    <h4 class="mt-0">Goal 4</h4>
                    <!-- Add content related to Goal 4 -->
                </div>
            </div>
        </div>
    </div>

          <!-- Tab 3 Content -->
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="container">
                <div class="title">Routines</div>
            
                <div class="main-box">
                  <div class="arrow arrow-left">&#x25C0;</div>
                  <div class="arrow arrow-right">&#x25B6;</div>
                  <div class="date-box">Selected Date</div>
                </div>
            
                <div class="main-box">
                  <div class="row">
                    <div class="col-6">
                      <div class="routine-box">Morning routine</div>
                    </div>
                    <div class="col-6">
                      <div class="routine-box">Evening routine</div>
                    </div>
                  </div>
                </div>
            
            
                <div class="main-box">
                    <div class="task-box">Task one</div>
                    <div class="task-box">Task two</div>
                    <div class="task-box">Task three</div>
                    <div class="task-box">Task four</div>
                  </div>
                </div>
          </div>
          <!-- Add more tab content as needed -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}