:root {
  --light-purple: #b3a3c3;
  --dark-purple: #7e679b;
  --light-blue: #99b4df;
  --teal: #66afa5;
  --light-teal: #bedfdb;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: center;
}

.bg-navbar {
  background-color: #bedfdb;
}

.nav-container {
  display: flex;
  align-items: center;
}

.cloud-image {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.username {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: #bedfdb;
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1000;
  color: #7e679b;
}

.custom-dropdown-menu {
  background-color: #7e679b !important;
  color: #7e679b !important;
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  color: #7e679b !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  color: #7e679b;
}

.nav-logo {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  font-size: 27px;
  display: flex;
  align-items: center;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text {
  animation: slideInFromBottom 2s ease forwards;
}

.nav-logo:hover {
  color: #99b4df;
  text-decoration: none;
}

.ml-auto i {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  margin: 5px;
}

.ml-auto a {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  margin: 5px;
}

.ml-auto a:hover {
  color: #bedfdb;
  text-decoration: none;
}

/* FOOTER */

footer {
  background-color: #bedfdb;
  text-decoration: none;
  padding: 20px;
  margin-top: auto;

  width: 100%;
  z-index: 1;
} 
.navbar {
  z-index: 1;
}

.py-3 {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.py-3 a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}

.socials {
  margin: 0;
  font-size: 25px;
}

footer a:hover {
  text-decoration: none;
  color: #66afa5;
}

.container {
  font-family: 'Comfortaa', cursive;
  width: 100%;
}

.container-fluid {
  font-family: 'Comfortaa', cursive;

}

.carousel-inner img {
  max-height: 100vh;
  object-fit: cover;
} 

.about-border {
  position: relative;
  font-weight: bold;
  padding: 15px;
  background-color: transparent;
  border: 2px solid transparent;
}

.about-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 175, 165, 0.5);
  z-index: -1;
}

.homepage-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

/* PROFILE PAGE */


.fixed-left-column {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 10%;
  background-color: #bedfdb;
  padding-right: 0px !important;
  color: #fff;
  overflow-y: auto;
  height: calc(100vh - 100px);
  min-width: 200px;
}

.user-column {
  padding-top: 10px;
}

.right-column {
  margin-left: 250px;
  padding: 20px;
}

.fixed-left-column a.nav-link {
  text-decoration: none;
}

.fixed-left-column a.nav-link,
.fixed-left-column h4 {
  color: #fff;
}

.nav-pills .nav-link.active {
  background-color: #fff !important;
  border-radius: 25px 0 0 25px;
  color: #000 !important;
  position: relative;
  border: 2px solid #7e679b;
  border-right: none;
}

.nav-item {
  margin-top: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tab-content {
  padding: 0;
}

.nav-pills .nav-link {
  margin: 0;
  padding: 0.5rem 1rem;
}

.housing-box {
  border: 2px solid #000;
  /* 2px solid black border */
  background-color: #b3a3c3;
  border-radius: 10px;
}

.account-info {
  border: 2px solid #000;
  /* 2px solid black border */
  padding: 10px;
  /* Optional: Add padding inside the border */
  margin: 5px;
  margin-top: 10px;
  background-color: #bedfdb;
  border-radius: 10px;
}

.security-info {
  border: 2px solid #000;
  /* 2px solid black border */
  padding: 10px;
  /* Optional: Add padding inside the border */
  margin: 5px;
  background-color: #bedfdb;
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-pane h4.text-center {
  width: 100%;
  margin: 0;
}

/* Adjust the table headers for centered text */
.tab-pane table thead th.text-center {
  text-align: center;
}

.full-task {
  Margin: 5px;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-bordered {
  background-color: #bedfdb;
  border: 2px solid black;
}

.task-title {
  text-align: center;
}

.health-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 
}

.health-btn:hover {
  transform: scale(1.05); /* Slightly increase size */

}

.profile-image {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border: 5px solid black;
  border-radius: 50%;
  background-color: #fff;
}

.tab-pane.fade.show {
  display: block;
}

.goals-container {
  border: 2px solid #000;
  /* 2px solid black border */
  background-color: #66afa5;
  border-radius: 10px;
}

.routine-border {
  border: 2px solid #000;
  /* 2px solid black border */
  background-color: #66afa5;
  border-radius: 10px;
}


.goal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  border: 2px solid black;
  background-color: #bedfdb;

}

.instructions {
  border: 2px solid #000;
  /* 2px solid black border */
  padding: 10px;
  /* Optional: Add padding inside the border */
  margin: 5px;
  margin-top: 10px;
  background-color: #bedfdb;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .col-md-6.mb-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Profile Image */

.profile {
  background-color: #bedfdb;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  box-shadow: 0 0 0 5px #bedfdb;
}

.profile-box {
  border: 5px solid #7e679b;
  padding: 20px;
  border-radius: 10px;
  background-color: #b3a3c3;
}

.user-column {
  text-align: center;
}

.user-column img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #7e679b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}


.user-column img:hover {
  transform: scale(1.1);
}

/* Profile IMG end */

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.main-box {
  border: 1px solid black;
  padding: 20px;
  position: relative;
  background-color: #66afa5;
  border-radius: 5px;
  margin: 2;
}

.date-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  background-color: #bedfdb;
  border-radius: 5px;
  border: 2px solid black;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #7e679b;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow:hover {
  font-size: 28px;
  transform: translateY(-50%) scale(1.1);
  cursor: pointer;
}

.routine-box {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  background-color: #bedfdb;
  border-radius: 5px;
  margin-top: 20px;

}

.routine-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.task-box {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #bedfdb;
  margin-top: 20px;
}

.feedback-section {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.feedback-question {
  padding: 20px;
  margin-bottom: 10px;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.star-rating:hover,
.star-rating.checked {
  color: gold;
}

.submit-button {
  display: block;
  margin: 20px auto;
}

.table td,
.table th {
  background-color: #f0f0f0; 
}

.homepage-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bedfdb;
}

/* Health Area */

.center-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.health-btn {
  flex: 1;
  max-width: 300px;
  margin: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.square-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.goal-title {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.health-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.health-btn h3 {
  margin: 0;
  padding: 5px;
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.health-btn h3:hover {
  background-color: #99b4df;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.carousel {
  height: 100%;
}

/* Account info & PROGRESS BARS ON PROFILE PAGE */

.circular-progress {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(#99b4df 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  position: relative;
  font-size: 50px;
  font-weight: 600;
  color: #99b4df;

}

.progress-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.progress-title {
  text-align: center;
  font-weight: bold;
}

/* FB & Google on sign up page */

.btn-google,
.btn-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn-google .fab,
.btn-facebook .fab {
  margin-right: 8px;
}

.btn-google:hover,
.btn-facebook:hover {
  opacity: 0.8;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/sign_in.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.image-container-sign-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/sign_in2.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 1) 100%);
  z-index: -1;
}

.profile-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bedfdb;
  background-size: cover;
  background-position: center;
  font-family: 'Comfortaa', cursive;
}

.profile-bg-gradient {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(190, 223, 219, 1) 0%, rgba(190, 223, 219, 0.8) 25%, rgba(255, 255, 255, 1) 100%);
}

.image-container-pass-reset {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pass-reset.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.custom-link {
  color: black;
}
.custom-link:hover {
  color: #99b4df;
}
