:root {
  --light-purple: #b3a3c3;
  --dark-purple: #7e679b;
  --light-blue: #99b4df;
  --teal: #66afa5;
  --light-teal: #bedfdb;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

header {
  display: flex;
  justify-content: center;
}

.bg-navbar {
  background: linear-gradient(to bottom, #7e679b, transparent 70%);
}


.nav-logo {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  animation: slide-in-bottom 2s ease;
  font-size: 25px;
}

.nav-logo:hover {
  color: #bedfdb;
  text-decoration: none;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.ml-auto i {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  margin: 5px;
 }

.ml-auto a {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  margin: 5px;
 }
.ml-auto a:hover {
  color: #bedfdb;
  text-decoration: none;
}

/* FOOTER */

footer {
  background: linear-gradient(to top, #7e679b, transparent 90%);
  text-decoration: none;
  

}
.py-3 {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.py-3 a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white ;
}

.socials {
  margin: 0;
  font-size: 25px;
}
footer a:hover {
  text-decoration: none;
  color: #66afa5;
}


.container-fluid {
    margin-top: -50px; 
}

.homepage-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-container {
    width: 80vw; 
    max-width: 80%;
    height: 70vh;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .video-container p {
    text-align: center;
  }

.profile-image {
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    border: 5px solid black;
    border-radius: 50%; /* Create a perfect circle */
}

.profile-box {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .profile-box .profile-image {
      margin-bottom: 20px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.main-box {
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
}
.date-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}
.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  left: 10px;
}
.arrow-right {
  right: 10px;
}
.arrow:hover {
  font-size: 28px;
  transform: translateY(-50%) scale(1.1);
  cursor: pointer;
}
.routine-box {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}
.routine-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.task-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.feedback-section {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px; 
}

.feedback-question {
  padding: 20px;
  margin-bottom: 10px;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}
.star-rating:hover,
.star-rating.checked {
  color: gold;
}
.feedback-textbox {
  width: 90%;
  height: 100px;
}
.submit-button {
  display: block;
  margin: 20px auto;
}
  .square-box {
    padding-top: 100%; /* Set padding-top to a percentage value to maintain aspect ratio */
    position: relative;
    overflow: hidden;
    }
    
    .square-box a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Set height to 100% to fill the square box */
    width: 100%; /* Set width to 100% to fill the square box */
    }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
