:root {
  --light-purple: #b3a3c3;
  --dark-purple: #7e679b;
  --light-blue: #99b4df;
  --teal: #66afa5;
  --light-teal: #bedfdb;
}

html,
body {
  background-color: #bedfdb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: center;
}

.bg-navbar {
  background-color: #bedfdb;
}

.nav-container {
  display: flex;
  align-items: center;
}

.cloud-image {
  height: 50px;
  width: auto;
  margin-right: 10px;
  
}

.nav-logo {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  font-size: 27px;
  display: flex; 
  align-items: center; 
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text {
  animation: slideInFromBottom 2s ease forwards;
}

.nav-logo:hover {
  color: #99b4df;
  text-decoration: none;
}

.ml-auto i {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  margin: 5px;
}

.ml-auto a {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
  margin: 5px;
}

.ml-auto a:hover {
  color: #bedfdb;
  text-decoration: none;
}

/* FOOTER */

footer {
  background-color: #bedfdb;
  text-decoration: none;
  padding: 20px;
  margin-top: auto;


}

.py-3 {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.py-3 a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}

.socials {
  margin: 0;
  font-size: 25px;
}

footer a:hover {
  text-decoration: none;
  color: #66afa5;
}


.container-fluid {
  margin-top: -50px;
  font-family: 'Comfortaa', cursive;

}

.carousel-inner img {
  max-height: 800px;
  object-fit: cover;
}


.about-border {
  position: relative;
  font-weight: bold;
  padding: 15px;
  background-color: transparent;
  border: 2px solid transparent;
}

/* Add the pseudo-element for the overlay */
.about-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102,175,165, 0.5);
  z-index: -1;
}

.homepage-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

.video-container {
  width: 80vw;
  max-width: 80%;
  height: 70vh;
  border: 2px solid black;
  border-radius: 5px;
}

.video-container p {
  text-align: center;
}

/* PROFILE PAGE */

.fixed-left-column {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 10%;
  background-color: #7e679b;
  padding-right: 0px !important;
  color: #fff;
  overflow-y: auto;
  height: calc(100vh - 100px);
  min-width: 200px;
}

.user-column {
  padding-top: 10px;
}

.right-column {
  margin-left: 250px;
  padding: 20px;
}

.fixed-left-column a.nav-link {
  text-decoration: none;
}

/* Set the text color to white for links in the left column */
.fixed-left-column a.nav-link,
.fixed-left-column h4 {
  color: #fff;
}

.nav-pills .nav-link.active {
  background-color: #fff !important;
  border-radius: 25px 0 0 25px;
  color: #000 !important;
  position: relative;
  border: 2px solid #66afa5;
  border-right: none;

}

.tab-content {
  padding: 0;
}

.nav-pills .nav-link {
  margin: 0;
  padding: 0.5rem 1rem;
}

.account-info {
  border: 2px solid #000;
  /* 2px solid black border */
  padding: 10px;
  /* Optional: Add padding inside the border */
  margin: 5px;
  margin-top: 10px;
  background-color: #bedfdb;
}

.security-info {
  border: 2px solid #000;
  /* 2px solid black border */
  padding: 10px;
  /* Optional: Add padding inside the border */
  margin: 5px;
  background-color: #bedfdb;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  margin-top: 0px;
}

.health-btn {

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}

.profile-image {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border: 5px solid black;
  border-radius: 50%;
  background-color: #fff;

}

.profile {
  background-color: #bedfdb;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.profile-box {
  border: 5px solid #7e679b;
  padding: 20px;
  border-radius: 10px;
  background-color: #b3a3c3;
}



@media (max-width: 767.98px) {
  .profile-box .profile-image {
    margin-bottom: 20px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.main-box {
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
}

.date-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow:hover {
  font-size: 28px;
  transform: translateY(-50%) scale(1.1);
  cursor: pointer;
}

.routine-box {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.routine-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.task-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.feedback-section {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.feedback-question {
  padding: 20px;
  margin-bottom: 10px;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.star-rating:hover,
.star-rating.checked {
  color: gold;
}

.submit-button {
  display: block;
  margin: 20px auto;
}

.square-box {
  padding-top: 100%;
  /* Set padding-top to a percentage value to maintain aspect ratio */
  position: relative;
  overflow: hidden;
}

.square-box a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Set height to 100% to fill the square box */
  width: 100%;
  /* Set width to 100% to fill the square box */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.homepage-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bedfdb;
}

/* Testing images on home page
.self-care {
  max-width: 100%;
  height: auto;
}*/

.video-container {
  width: 80vw;
  max-width: 80%;
  height: 70vh;
  border: 2px solid black;
  border-radius: 5px;
}

.video-container p {
  text-align: center;
}

.square-box {
  padding-top: 100%;
  /* Set padding-top to a percentage value to maintain aspect ratio */
  position: relative;
  overflow: hidden;
}

.square-box a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Set height to 100% to fill the square box */
  width: 100%;
  /* Set width to 100% to fill the square box */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}