{% extends 'base.html' %} {% block content %} {% comment %} Set Tasks from Goals
Section {% endcomment %}

<div class="container mt-5">
    <form
        action="{% url 'create_routine' routine_type=routine_type %}"
        method="POST"
    >
        {% csrf_token %}
        <h1 class="text-center">{{routine_type}} Tasks</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table table-bordered" id="table">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for custom_task in tasks.Custom %}
                        <tr>
                            <td><input
                                id="custom{{custom_task.1}}"
                                name="custom{{custom_task.1}}"
                                placeholder="Duration"
                                value="{{custom_task.3}}"
                            />
                                </td>
                            <td>
                                <input
                                    type="number"
                                    id="custom{{custom_task.1}}"
                                    name="custom{{custom_task.1}}_time"
                                    placeholder="Duration"
                                    value="{{custom_task.0}}"
                                />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="input-cont"></div>
                <div>
                    <a
                        class="btn btn-primary rounded-circle"
                        onclick="addInput()"
                    >
                        +
                    </a>
                    <span class="ml-2">Add Task</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mt-4">
                    <a class="btn btn-primary" id="previousBtn" href="{% url 'health-areas' %}">
                        Previous
                    </a>
                    <button class="btn btn-primary" id="nextBtn" type="submit">Next</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
  let startNum = 0;
    // Call addInput() function on button click
    function addInput() {
      startNum++;
        var tableRow = document.getElementById("table");
        var row = tableRow.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        let task = document.createElement("input");
        task.placeholder = "Custom Task";
        task.setAttribute("id","custom" + startNum);
        task.setAttribute("name","custom" + startNum);
        cell1.appendChild(task);
        let duration = document.createElement("input");
        duration.setAttribute("id","custom" + startNum);
        duration.setAttribute("name","custom" + startNum + "_time");
        duration.placeholder = "Duration";
        cell2.appendChild(duration);
    }
</script>

{% endblock %}
