{% extends 'base.html' %} {% block content %}

{% comment %} Set Evening Tasks from Goals Section {% endcomment %}

<div class="container mt-5">
  <h1 class="text-center">Evening Tasks</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Task 1</td>
            <td>2 hours</td>
          </tr>
          <tr>
            <td>Task 2</td>
            <td>1.5 hours</td>
          </tr>
          <tr>
            <td>Task 3</td>
            <td>1 hour</td>
          </tr>
          <tr>
            <td>Task 4</td>
            <td>45 minutes</td>
          </tr>
          <tr>
            <td>Task 5</td>
            <td>30 minutes</td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-primary rounded-circle" id="addTaskBtn">
          +
        </button>
        <span class="ml-2">Add Task</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center mt-4">
        <button class="btn btn-primary" id="previousBtn">Previous</button>
        <button class="btn btn-primary" id="nextBtn">Next</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
