{% extends 'base.html' %}

{% block content %}

{% comment %} Set Goals Section {% endcomment %}
<div class="container">
    <h1>Set Your Goals</h1>
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <a href="{% url 'home' %}">
                {% comment %} <img src="{% static 'images/goal1.jpg' %}" class="img-fluid" alt="Goal 1"> {% endcomment %}
                <h3>Goal 1</h3>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <a href="{% url 'home' %} %}">
                {% comment %} <img src="{% static 'images/goal2.jpg' %}" class="img-fluid" alt="Goal 2"> {% endcomment %}
                <h3>Goal 2</h3>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <a href="{% url 'home' %} %}">
                {% comment %} <img src="{% static 'images/goal3.jpg' %}" class="img-fluid" alt="Goal 3"> {% endcomment %}
                <h3>Goal 3</h3>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <a href="{% url 'home' %}">
                {% comment %} <img src="{% static 'images/goal4.jpg' %}" class="img-fluid" alt="Goal 4"> {% endcomment %}
                <h3>Goal 4</h3>
            </a>
        </div>
    </div>
</div>
{% endblock %}